<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hrmgr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidateServlet</display-name>
    <servlet-name>EmailValidateServlet</servlet-name>
    <servlet-class>controller.EmailValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidateServlet</servlet-name>
    <url-pattern>/EmailValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantProfileServlet</display-name>
    <servlet-name>ApplicantProfileServlet</servlet-name>
    <servlet-class>controller.ApplicantProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantProfileServlet</servlet-name>
    <url-pattern>/ApplicantProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>controller.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkillServlet</display-name>
    <servlet-name>SkillServlet</servlet-name>
    <servlet-class>controller.SkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillServlet</servlet-name>
    <url-pattern>/SkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet2</display-name>
    <servlet-name>ChangePasswordServlet2</servlet-name>
    <servlet-class>controller.ChangePasswordServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet2</servlet-name>
    <url-pattern>/ChangePasswordServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyJobServlet</display-name>
    <servlet-name>ApplyJobServlet</servlet-name>
    <servlet-class>controller.ApplyJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyJobServlet</servlet-name>
    <url-pattern>/ApplyJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>controller.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobServlet</display-name>
    <servlet-name>ViewJobServlet</servlet-name>
    <servlet-class>controller.ViewJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobServlet</servlet-name>
    <url-pattern>/ViewJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApplicantServlet</display-name>
    <servlet-name>ViewApplicantServlet</servlet-name>
    <servlet-class>controller.ViewApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApplicantServlet</servlet-name>
    <url-pattern>/ViewApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShortlistApplicantServlet</display-name>
    <servlet-name>ShortlistApplicantServlet</servlet-name>
    <servlet-class>controller.ShortlistApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortlistApplicantServlet</servlet-name>
    <url-pattern>/ShortlistApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowJobs</display-name>
    <servlet-name>ShowJobs</servlet-name>
    <servlet-class>controller.ShowJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJobs</servlet-name>
    <url-pattern>/ShowJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShortListAjaxServlet</display-name>
    <servlet-name>ShortListAjaxServlet</servlet-name>
    <servlet-class>controller.ShortListAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortListAjaxServlet</servlet-name>
    <url-pattern>/ShortListAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YesServlet</display-name>
    <servlet-name>YesServlet</servlet-name>
    <servlet-class>controller.YesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YesServlet</servlet-name>
    <url-pattern>/YesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFinalShortlistedApplicant</display-name>
    <servlet-name>ViewFinalShortlistedApplicant</servlet-name>
    <servlet-class>controller.ViewFinalShortlistedApplicant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFinalShortlistedApplicant</servlet-name>
    <url-pattern>/ViewFinalShortlistedApplicant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageInterviewServlet</display-name>
    <servlet-name>ManageInterviewServlet</servlet-name>
    <servlet-class>controller.ManageInterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageInterviewServlet</servlet-name>
    <url-pattern>/ManageInterviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInterviewSchedule</display-name>
    <servlet-name>ViewInterviewSchedule</servlet-name>
    <servlet-class>controller.ViewInterviewSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInterviewSchedule</servlet-name>
    <url-pattern>/ViewInterviewSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageResultServlet</display-name>
    <servlet-name>ManageResultServlet</servlet-name>
    <servlet-class>controller.ManageResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageResultServlet</servlet-name>
    <url-pattern>/ManageResultServlet</url-pattern>
  </servlet-mapping>
</web-app>