<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VirtualCampus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.campus.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegistrtionServlet</display-name>
    <servlet-name>StudentRegistrtionServlet</servlet-name>
    <servlet-class>edu.campus.controller.StudentRegistrtionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistrtionServlet</servlet-name>
    <url-pattern>/StudentRegistrtionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffRegistrationServlet</display-name>
    <servlet-name>StaffRegistrationServlet</servlet-name>
    <servlet-class>edu.campus.controller.StaffRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffRegistrationServlet</servlet-name>
    <url-pattern>/StaffRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>edu.campus.controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>edu.campus.controller.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonorIDServlet</display-name>
    <servlet-name>DonorIDServlet</servlet-name>
    <servlet-class>edu.campus.controller.DonorIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorIDServlet</servlet-name>
    <url-pattern>/DonorIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodDonorServlet</display-name>
    <servlet-name>BloodDonorServlet</servlet-name>
    <servlet-class>edu.campus.controller.BloodDonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodDonorServlet</servlet-name>
    <url-pattern>/BloodDonorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodDonorsListServlet</display-name>
    <servlet-name>BloodDonorsListServlet</servlet-name>
    <servlet-class>edu.campus.controller.BloodDonorsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodDonorsListServlet</servlet-name>
    <url-pattern>/BloodDonorsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNoticeServlet</display-name>
    <servlet-name>AddNoticeServlet</servlet-name>
    <servlet-class>edu.campus.controller.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeServlet</servlet-name>
    <url-pattern>/AddNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeIDServlet</display-name>
    <servlet-name>NoticeIDServlet</servlet-name>
    <servlet-class>edu.campus.controller.NoticeIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeIDServlet</servlet-name>
    <url-pattern>/NoticeIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNoticeOnLoadOnIndex</display-name>
    <servlet-name>FetchNoticeOnLoadOnIndex</servlet-name>
    <servlet-class>edu.campus.controller.FetchNoticeOnLoadOnIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNoticeOnLoadOnIndex</servlet-name>
    <url-pattern>/FetchNoticeOnLoadOnIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNoticeDescription</display-name>
    <servlet-name>AdminNoticeDescription</servlet-name>
    <servlet-class>edu.campus.controller.AdminNoticeDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNoticeDescription</servlet-name>
    <url-pattern>/AdminNoticeDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentChangePasswordServlet</display-name>
    <servlet-name>StudentChangePasswordServlet</servlet-name>
    <servlet-class>edu.campus.controller.StudentChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentChangePasswordServlet</servlet-name>
    <url-pattern>/StudentChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffChangePasswordServlet</display-name>
    <servlet-name>StaffChangePasswordServlet</servlet-name>
    <servlet-class>edu.campus.controller.StaffChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffChangePasswordServlet</servlet-name>
    <url-pattern>/StaffChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuesClearanceByStaff</display-name>
    <servlet-name>DuesClearanceByStaff</servlet-name>
    <servlet-class>edu.campus.controller.DuesClearanceByStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuesClearanceByStaff</servlet-name>
    <url-pattern>/DuesClearanceByStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusServlet</display-name>
    <servlet-name>BusServlet</servlet-name>
    <servlet-class>edu.campus.controller.BusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusServlet</servlet-name>
    <url-pattern>/BusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuesSubmissionByStaff</display-name>
    <servlet-name>DuesSubmissionByStaff</servlet-name>
    <servlet-class>edu.campus.controller.DuesSubmissionByStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuesSubmissionByStaff</servlet-name>
    <url-pattern>/DuesSubmissionByStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.campus.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBusServlet</display-name>
    <servlet-name>SearchBusServlet</servlet-name>
    <servlet-class>edu.campus.controller.SearchBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBusServlet</servlet-name>
    <url-pattern>/SearchBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBusDestination</display-name>
    <servlet-name>SearchBusDestination</servlet-name>
    <servlet-class>edu.campus.controller.SearchBusDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBusDestination</servlet-name>
    <url-pattern>/SearchBusDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffViewDetailsServlet</display-name>
    <servlet-name>StaffViewDetailsServlet</servlet-name>
    <servlet-class>edu.campus.controller.StaffViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffViewDetailsServlet</servlet-name>
    <url-pattern>/StaffViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffModifyDetailsServlet</display-name>
    <servlet-name>StaffModifyDetailsServlet</servlet-name>
    <servlet-class>edu.campus.controller.StaffModifyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffModifyDetailsServlet</servlet-name>
    <url-pattern>/StaffModifyDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentModifyDetailsServlet</display-name>
    <servlet-name>StudentModifyDetailsServlet</servlet-name>
    <servlet-class>edu.campus.controller.StudentModifyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentModifyDetailsServlet</servlet-name>
    <url-pattern>/StudentModifyDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewDetailsServlet</display-name>
    <servlet-name>StudentViewDetailsServlet</servlet-name>
    <servlet-class>edu.campus.controller.StudentViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewDetailsServlet</servlet-name>
    <url-pattern>/StudentViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEMagazineServlet</display-name>
    <servlet-name>AddEMagazineServlet</servlet-name>
    <servlet-class>edu.campus.controller.AddEMagazineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEMagazineServlet</servlet-name>
    <url-pattern>/AddEMagazineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchEMagazineOnLoad</display-name>
    <servlet-name>FetchEMagazineOnLoad</servlet-name>
    <servlet-class>edu.campus.controller.FetchEMagazineOnLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchEMagazineOnLoad</servlet-name>
    <url-pattern>/FetchEMagazineOnLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletUserServlet</display-name>
    <servlet-name>DeletUserServlet</servlet-name>
    <servlet-class>edu.campus.controller.DeletUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletUserServlet</servlet-name>
    <url-pattern>/DeletUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>edu.campus.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteArticleServlet</display-name>
    <servlet-name>CompleteArticleServlet</servlet-name>
    <servlet-class>edu.campus.controller.CompleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteArticleServlet</servlet-name>
    <url-pattern>/CompleteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleIdServlet</display-name>
    <servlet-name>ArticleIdServlet</servlet-name>
    <servlet-class>edu.campus.controller.ArticleIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleIdServlet</servlet-name>
    <url-pattern>/ArticleIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMagazineFetchImageOnSelect</display-name>
    <servlet-name>EMagazineFetchImageOnSelect</servlet-name>
    <servlet-class>edu.campus.controller.EMagazineFetchImageOnSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMagazineFetchImageOnSelect</servlet-name>
    <url-pattern>/EMagazineFetchImageOnSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageServlet</display-name>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>edu.campus.controller.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/GetImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImagesForEMagazineDivServlet</display-name>
    <servlet-name>GetImagesForEMagazineDivServlet</servlet-name>
    <servlet-class>edu.campus.controller.GetImagesForEMagazineDivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImagesForEMagazineDivServlet</servlet-name>
    <url-pattern>/GetImagesForEMagazineDivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.campus.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchDetailsforStaffStatus</display-name>
    <servlet-name>FetchDetailsforStaffStatus</servlet-name>
    <servlet-class>edu.campus.controller.FetchDetailsforStaffStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDetailsforStaffStatus</servlet-name>
    <url-pattern>/FetchDetailsforStaffStatus</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ChangeStaffStatusServlet</display-name>
    <servlet-name>ChangeStaffStatusServlet</servlet-name>
    <servlet-class>edu.campus.controller.ChangeStaffStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStaffStatusServlet</servlet-name>
    <url-pattern>/ChangeStaffStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchDetailsForStudentStatusServlet</display-name>
    <servlet-name>FetchDetailsForStudentStatusServlet</servlet-name>
    <servlet-class>edu.campus.controller.FetchDetailsForStudentStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDetailsForStudentStatusServlet</servlet-name>
    <url-pattern>/FetchDetailsForStudentStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStudentStatus</display-name>
    <servlet-name>ChangeStudentStatus</servlet-name>
    <servlet-class>edu.campus.controller.ChangeStudentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStudentStatus</servlet-name>
    <url-pattern>/ChangeStudentStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>edu.campus.controller.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNoticeOnLoadInStudentHome</display-name>
    <servlet-name>FetchNoticeOnLoadInStudentHome</servlet-name>
    <servlet-class>edu.campus.controller.FetchNoticeOnLoadInStudentHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNoticeOnLoadInStudentHome</servlet-name>
    <url-pattern>/FetchNoticeOnLoadInStudentHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNoticeBoardHeading</display-name>
    <servlet-name>FetchNoticeBoardHeading</servlet-name>
    <servlet-class>edu.campus.controller.FetchNoticeBoardHeading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNoticeBoardHeading</servlet-name>
    <url-pattern>/FetchNoticeBoardHeading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeDescriptionForDept</display-name>
    <servlet-name>NoticeDescriptionForDept</servlet-name>
    <servlet-class>edu.campus.controller.NoticeDescriptionForDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeDescriptionForDept</servlet-name>
    <url-pattern>/NoticeDescriptionForDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSyllabusServlet</display-name>
    <servlet-name>ViewSyllabusServlet</servlet-name>
    <servlet-class>edu.campus.controller.ViewSyllabusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSyllabusServlet</servlet-name>
    <url-pattern>/ViewSyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNotesServlet</display-name>
    <servlet-name>ViewNotesServlet</servlet-name>
    <servlet-class>edu.campus.controller.ViewNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNotesServlet</servlet-name>
    <url-pattern>/ViewNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPapersServlet</display-name>
    <servlet-name>ViewPapersServlet</servlet-name>
    <servlet-class>edu.campus.controller.ViewPapersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPapersServlet</servlet-name>
    <url-pattern>/ViewPapersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatingArrangementServlet</display-name>
    <servlet-name>SeatingArrangementServlet</servlet-name>
    <servlet-class>edu.campus.controller.SeatingArrangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatingArrangementServlet</servlet-name>
    <url-pattern>/SeatingArrangementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatingArrangementDownloadServlet</display-name>
    <servlet-name>SeatingArrangementDownloadServlet</servlet-name>
    <servlet-class>edu.campus.controller.SeatingArrangementDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatingArrangementDownloadServlet</servlet-name>
    <url-pattern>/SeatingArrangementDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSeatingArrangementDetailsServlet</display-name>
    <servlet-name>FetchSeatingArrangementDetailsServlet</servlet-name>
    <servlet-class>edu.campus.controller.FetchSeatingArrangementDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSeatingArrangementDetailsServlet</servlet-name>
    <url-pattern>/FetchSeatingArrangementDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentByBranchServlet</display-name>
    <servlet-name>ViewStudentByBranchServlet</servlet-name>
    <servlet-class>edu.campus.controller.ViewStudentByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentByBranchServlet</servlet-name>
    <url-pattern>/ViewStudentByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStafftByDesigServlet</display-name>
    <servlet-name>ViewStafftByDesigServlet</servlet-name>
    <servlet-class>edu.campus.controller.ViewStafftByDesigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStafftByDesigServlet</servlet-name>
    <url-pattern>/ViewStafftByDesigServlet</url-pattern>
  </servlet-mapping>
</web-app>