<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Suwidha Center</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>in.suwidha.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>in.suwidha.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AadharServlet</display-name>
    <servlet-name>AadharServlet</servlet-name>
    <servlet-class>in.suwidha.controller.AadharServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AadharServlet</servlet-name>
    <url-pattern>/AadharServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuspassServlet</display-name>
    <servlet-name>BuspassServlet</servlet-name>
    <servlet-class>in.suwidha.controller.BuspassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuspassServlet</servlet-name>
    <url-pattern>/BuspassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RationcardServlet</display-name>
    <servlet-name>RationcardServlet</servlet-name>
    <servlet-class>in.suwidha.controller.RationcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RationcardServlet</servlet-name>
    <url-pattern>/RationcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArmServlet</servlet-name>
    <servlet-class>in.suwidha.controller.ArmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmServlet</servlet-name>
    <url-pattern>/ArmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarriagecertServlet</display-name>
    <servlet-name>MarriagecertServlet</servlet-name>
    <servlet-class>in.suwidha.controller.MarriagecertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarriagecertServlet</servlet-name>
    <url-pattern>/MarriagecertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotercardServlet</display-name>
    <servlet-name>VotercardServlet</servlet-name>
    <servlet-class>in.suwidha.controller.VotercardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotercardServlet</servlet-name>
    <url-pattern>/VotercardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RTIformServlet</display-name>
    <servlet-name>RTIformServlet</servlet-name>
    <servlet-class>in.suwidha.controller.RTIformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RTIformServlet</servlet-name>
    <url-pattern>/RTIformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drivingServlet</display-name>
    <servlet-name>drivingServlet</servlet-name>
    <servlet-class>in.suwidha.controller.drivingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drivingServlet</servlet-name>
    <url-pattern>/drivingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>in.suwidha.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotpassServlet</display-name>
    <servlet-name>ForgotpassServlet</servlet-name>
    <servlet-class>in.suwidha.controller.ForgotpassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotpassServlet</servlet-name>
    <url-pattern>/ForgotpassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>in.suwidha.controller.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserProfileServlet</display-name>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <servlet-class>in.suwidha.controller.EditUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <url-pattern>/EditUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>in.suwidha.controller.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ftyhgj</display-name>
    <servlet-name>ftyhgj</servlet-name>
    <servlet-class>in.suwidha.controller.ftyhgj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ftyhgj</servlet-name>
    <url-pattern>/ftyhgj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanCardServlet</display-name>
    <servlet-name>PanCardServlet</servlet-name>
    <servlet-class>in.suwidha.controller.PanCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanCardServlet</servlet-name>
    <url-pattern>/PanCardServlet</url-pattern>
  </servlet-mapping>
</web-app>